@model ReviewWebsiteProject.Models.Review

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset='utf-8'>

    <title>overRide.html</title>
    <style type="text/css">
        body {color: red;}
        p {color: green;}

    </style>

</head>
<body>
    <h2>Details</h2>

    <div>
        <h4>Review</h4>
        <hr />
        <div class="card-header-tabs">
            <p>
                @Html.DisplayNameFor(model => model.Category.PhoneMaker)
            </p>

            <p>
                @Html.DisplayFor(model => model.Category.PhoneMaker)
            </p>

            <p>
                @Html.DisplayNameFor(model => model.Author)
            </p>

            <p>
                @Html.DisplayFor(model => model.Author)
            </p>

            <p>
                @Html.DisplayNameFor(model => model.WherePublished)
            </p>

            <p>
                @Html.DisplayFor(model => model.WherePublished)
            </p>

            <p>
                @Html.DisplayNameFor(model => model.PublishDate)
            </p>

            <p>
                @Html.DisplayFor(model => model.PublishDate)
            </p>

        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>