@model IEnumerable<ReviewWebsiteProject.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.PhoneMaker)
        </div><br />
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.PhoneModel)
        </div><br />
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.PhonePrice)
        </div><br />
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.MemorySize)
        </div>
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.ScreenSize)
        </div><br />
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.OperatingSystem)
        </div>
    </div>

@foreach (var item in Model) {
    <div class="row">
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.PhoneMaker)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.PhoneModel)
        </div><br />
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.PhonePrice)
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => item.MemorySize)
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => item.ScreenSize)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.OperatingSystem)
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </div>
        <div>        </div>
    </div>
}

</div>
